/* 需要放到文件最上面 */
@import '@/uni_modules/uni-scss/variables.scss';


/* 主颜色 */
$main-color: #4b8eff;
$sub-color: #f73639;

/* 页面主体宽度 */
$main-width: 686rpx;
/* 阴影 */
$box-shadow:0px 1px 6px 0px rgba(0, 0, 0, 0.2);

/* 文字颜色 */
$text-color: #333333;
$text-color-grey: #999999;
$text-color-inverse: #ffffff;

/* 内填充 */
$padding: 32rpx;

/* 边框，线颜色 */
$border-color: #dddddd;

/* flex布局 */
@mixin mFlex($direction: row) {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: $direction;
	align-items: center;
	justify-content: center;
}
/* 文本超出隐藏 */
@mixin textOverHidden($lineClamp: 2) {
	height: auto;
	display: -webkit-box;
	overflow: hidden; /*超出隐藏*/
	text-overflow: ellipsis; /*隐藏后添加省略号*/
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lineClamp; /* 想显示多少行 */
	word-wrap: break-word; /* 强制换行 */
}
@mixin singleLineTextOverHidden() {
	height: auto;
	overflow: hidden; /*超出隐藏*/
	text-overflow: ellipsis; /*隐藏后添加省略号*/
	white-space: nowrap; /*强制不换行*/
}
